################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/BankAPI/FileContentIndex/2db98a47-ea42-4450-9f58-ede7e46093fe.vsidx
